*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
}

a{
  text-decoration: none;
  color: unset;
}

nav{
  padding-top: 4px;
}

nav a{
  padding-left: 12px;
  padding-right: 2px;
  font-size: 13px;
}

.background {
  background: url(background.jpg);
  height: 327px;
  width: 1100px;
  margin-top: 6px;
  color: white;
  text-align: center;
  font-size: 28px;
  }
