*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
}

a{
  text-decoration: none;
  color: unset;
}

nav{
  padding-top: 4px;
}

nav a{
  padding-left: 12px;
  padding-right: 2px;
  font-size: 13px;
}

section{
  padding-left: 148px;
  padding-top: 50px;
}

.background{
  background: url(background.jpg);
  height: 327px;
  width: 1100px;
  margin-top: 6px;
  color: white;
  text-align: center;
  font-size: 39px;
  font-family: 'Rubik', sans-serif;
}

.a_position{
  position: absolute;
  top: 121px;
  left: 382px;
  text-shadow: 1px 1px #000000;
}

.gray_color{
  color: #8E8E8E
}

.align_center{
  text-align: center;
}

.float_left{
  float: left;
}

.bg_green{
  background-color: #519251
}

.bg_blue{
  background-color: #2C4985
}

.bg_black{
  background-color: #000000
}

.text_white{
  color: white;
}

.relative{
  position: relative;
}

.align_price_section_top{
  margin-top: -10px;
}

.plan_name_font{
  font-size: 13px;
  letter-spacing: 3.3px;
  }

.plan_name_position{
  padding-top: 28px;
}

.plan_price_font{
  font-size: 79px;
  letter-spacing: .3px;
  font-weight: 300;
  }

.plan_price_position{
  padding-top: 1px;
}

.plan_per_month_font{
  font-size: 16px;
  opacity: 0.5;
  }

.price_plan_margin{
  margin: 0px 7px;
}

.price_plan_width{
  width: 254px;
}

.price_height{
  height: 182px;
}
