*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing:border-box;
}

a{
  text-decoration: none;
  color: unset;
}

ul{
  padding: 0px;
  list-style: none;
  background-color: #F7F7F7;
  margin-top: 0px;
  font-size: 13.5px;
  color: #4B5960;
  }

li{
  padding: 10.25px;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

nav{
  padding-top: 4px;
}

nav a{
  padding-left: 12px;
  padding-right: 2px;
  font-size: 13px;
}

section{
  padding-left: 148px;
  padding-top: 50px;
  margin-top: -10px;
  text-align: center;
}

section article{
  float: left;
  margin: 0px 7px;
  width: 254px;
}

.background{
  background: url(background.jpg);
  height: 327px;
  width: 1100px;
  margin-top: 6px;
  color: white;
  text-align: center;
  font-size: 39px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: -.5px;
}

.a_position{
  position: absolute;
  top: 121px;
  left: 382px;
  text-shadow: 1px 1px #000000;
}

.gray_color{
  color: #8E8E8E
}

.bg_green{
  background-color: #519251
}

.bg_blue{
  background-color: #2C4985
}

.bg_black{
  background-color: #000000
}

.text_white{
  color: white;
}

.relative{
  position: relative;
}


.plan_name_font{
  font-size: 13px;
  letter-spacing: 3.3px;
  }

.plan_name_position{
  padding-top: 28px;
}

.plan_price_font{
  font-size: 79px;
  letter-spacing: .3px;
  font-weight: 300;
  }

.plan_price_position{
  padding-top: 1px;
}

.plan_per_month_font{
  font-size: 16px;
  opacity: 0.5;
  }

.price_height{
  height: 182px;
}

.border{
  padding: 27px;
  margin-top: -14px;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.button{
  font-weight: 600;
  padding: 6px 11px;
  font-size: 13.5px;
  border-radius: 20px;
  border: 2px solid lightgray;
}

/*
.clear-left{
  clear: left;
}
*/

.s-margin{
  margin-left: 173px;
  padding-top: 60px;
  clear: left;
  width: 362px;
  float: left;
}

.btest{
  border: 1px solid #519251;
}

.inline{
  display: inline-block;
}

#s-font{
  color: #5B696E;
  font-size: 13px;
  padding-top: 12px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 164%;
}

.m-font{
  letter-spacing: 3.6px;
}

.m-top{
  padding-top: 42px;
}

.r-margin .m-top{
  padding-top: 63px;
}

.r-margin{
  float: left;
  width: 362px;
  padding-top: 60px;
  margin-left: 41px;
}
